.hide {
    display: none;
}
.show {
    display: block;
}
.game__main-contain {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.msg--correct, .correct {
    color: #21af21;
}
.msg--incorrect, .incorrect {
    color: red;
}
.score__table {
   min-width: 30%;
   border: 1px solid #000;
   border-spacing: 0;
   border-collapse: collapse;
}
.score__table--player td {
   min-width: 25%;
   padding: 5px;
   text-align: left;
   border: 1px solid #000;   
}